<!DOCTYPE html>

<html>
<head>
<style>
div.a{
    text-align: center;
}
div
{
    width: 1100px;
    height: 768px;
  padding: 100px;
  border: 5px solid yellow;
  margin: 0; 

}
html {
        font-size: 20px;
        font-family: 'Monserrat', sans-serif;
        line-height: 1.7;
    }


</style>
</head>
<div class="a">
<h1>Welcome! Username</h1>
<p>Below are the details of the Employees</p>
</div>
</html>

